######################
# Database variables #
######################
POSTGRES_HOSTNAME=some_name_for_db_service
POSTGRES_DB=db_name
POSTGRES_USER=db_username
POSTGRES_PASSWORD=db_password

############
# RABBITMQ #
############
RABBITMQ_USER=username_for_rabbitmq
RABBITMQ_PASS=some_pass